body {
    margin: 0;
    background-image: url(https://cdn.wallpapersafari.com/14/87/f8CSdj.png);
}

header{
    background: linear-gradient(rgb(34, 160, 238), rgb(2, 112, 192));
    height: 90px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 16px 0px;
}
img{
    padding-left: 200px;
    filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);
}

a{
    color:azure;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 45px; /*espacamento entre linhas e colunas*/
    list-style-type: none;
    font-family: "Burbank Small", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin: 0; /*pra não ficar com espço acima do cabeçalho*/
    padding-block-start: 30px; /*deixar no meio do cabeçalho*/
    padding-left: 85px;
}
li {
    text-align: center;
    font-size: 18px;
}
.button_box{ /*Arruma o bloco azul atrás do JOGUE!*/
    height: 123.6px;
    width: 165px;
    margin: -50px;
    padding-left: 45.5px;
    background: linear-gradient(rgb(0, 126, 208), rgb(0, 63, 139),  rgb(0, 63, 139));
    border-style: initial; 
    border-radius: 0px 0px 20px;
    border: 1px solid rgb(0, 51, 112);
    margin-left: 15px;
}
.button{
    background: linear-gradient(rgb(255, 228, 119), rgb(255, 204, 0), rgb(255, 204, 0));
    color: rgb(110, 78, 0); /*Cor de dentro da fonte da palavra*/
    height: 25px;
    font-size: 23px; /*Diminui a fonte da palavra JOGUE*/
    font-family: "Burbank Small", Arial, Helvetica, sans-serif;
    font-weight: 800; /*Grossura da letra da palvra JOGUE*/
    text-align: center;
    border: 1px solid rgb(181, 112, 2); /*Borda da caixa jogue!*/
    padding: 14px; /*Aumenta a caixa com a palavra centralizada*/
    width: 140px;
    margin: 24px; /*alinhar no meio do header*/
    padding-block-start: 15px;
    margin-left: 30px;
    border-radius: 6px; /* borda arredondada*/
    margin-top: 35px;
    position: absolute;
    right: 297px; /*empurra o bloco do JOGUE para a esquerda, do ponto de vista do programador*/

}
.button_box::before{ /*Parte do trapézio azul que faz o "triângulo" do bloco azul*/
    content: ""; /*******pesquisei e ainda não entendi como que funciona*************************/
    margin-left: -23px;
    position: absolute;
    display: block;
    width: 12%; /*move a largura*/
    height: 14%;
    top: -1px;
    left: 1030px;
    z-index: 0;
    background: inherit;
    transform: skew(20deg, 0deg); /*ele é responsavel pela ponta do trapezio. Ele inclina a ponta que a gente quer que incline (20deg)*/
    border-radius: 0px 20px; /*arredonda apenas o esquerdo inferior e direito superior*/
    border-bottom: inherit;
    border-left: inherit;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px 0px; /*Sombra do trapézio*/
}

.before::after{
    margin: 0; /************ tirei e coloquei e não deu diferenca nenhuma ***********************/
}


.Idiomas{ 
    background-color: rgb(0, 132, 255);
    position:relative;
    height: 15px;
    width: 185px;
    border-radius: 5px;
    margin: 52px; /* deixa em baixo do JOGUE!*/
    z-index: 1;
    padding-block-start: 20px;
    margin-left: 1060px; /*mover para debaixo do menu Jogue!*/
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 16px 0px;
}

.Idiomas ul li { /*tudo para que "Portugues" fique dentro do bloco azul dele*/
    font-size: 17px;
    font-family: "Burbank Small", Arial, Helvetica, sans-serif;
    text-align: center;
    color:azure;
    margin-top: -45px;
    margin-left: -80px;
}
.caixa_baixo {
    position: relative; /*posicionado em relação a si mesmo*/
    margin-top: 390px;
    height: 270px; 
    width: 99.88%; /*não é 100% por causa da borda*/
    background: rgb(34, 160, 238);
    border: 1px solid rgb(2, 112, 192);

}

.caixa_texto{
    position:absolute; /*posicionado em relação a caixa_baixo*/
    margin-left: 150px;
    top: 40px;
    height: 230px;
    width: 80%;
    background-color:rgb(2, 112, 192);
    border-radius: 20px 20px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 16px 0px;
}

.caixa_ilha{
    position:absolute;
    top:50px;
    margin-left: 95px;
    height: 160px;
    width: 40%;
    background: linear-gradient(rgb(149, 205, 102), rgb(99, 141, 63));
    border-radius: 20px;
    border: 2px solid rgb(80, 114, 51);
    box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 8px 0px;
    color: whitesmoke;
}
.caixa_caminho{
    position:absolute;
    top:50px;
    margin-left: 610px;
    height: 160px;
    width: 40%;
    background: linear-gradient(rgb(133, 118, 200), rgb(82, 69, 133));
    border-radius: 20px;
    border: 2px solid rgb(70, 59, 114);
    box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 8px 0px;
    color: whitesmoke;
}
.caixa_caminho h1{
    font-size: 17px; /*MUDEI*/
    position: absolute;
    width: 60%;
    top: 3px; /*MUDEI*/
    right: -40px;
    font-weight: 600;
    font-family: "Burbank Small", Arial, Helvetica, sans-serif;
}
.caixa_caminho ul li p{
    font-size: 13px;
    position: absolute;
    width: 52%;
    top: 30px;
    right: 10px;
    font-weight: 600;
    font-family: "Burbank Small", Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: justify;
}

.caixa_ilha h1{
    font-size: 17px; /*MUDEI*/
    position: absolute;
    width: 60%;
    top: 3px;/*MUDEI*/
    right: -40px;
    font-family: "Burbank Small", Arial, Helvetica, sans-serif;
}

.caixa_ilha ul li p{
    font-size: 13px;
    position: absolute;
    width: 52%;
    margin-block-start: 1em;
    top: 30px;
    text-align: justify;
    right: 10px;
    font-weight: 600;
    font-family: "Burbank Small", Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: left;
}
.fotodescubra{
    background-image: url(https://newcp.net/static/f0fb9361458981506073762700264671/e1953/Community-temp.png);
    top: 5px;
    left: 15px;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    position: absolute;
    
}

.fotorookie{
    background-image: url(fotorookie.png);
    top: 5px;
    right: 271px;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    position: absolute;
}
